# Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
artifacts/
publish/
*.user
*.userosscache
*.suo
*.userprefs

# IDE
.vs/
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.code-workspace

# Logs / OS
*.log
*.DotSettings.user
.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg
**/packages/*
project.lock.json
project.fragment.lock.json
